<br>
<h1>Registered Employees</h1>
<br>
<div class="col-md-5">
    <h2 *ngIf="!employees">No Registered departments</h2>
    <ul *ngFor="let item of employees" class="list-group">
        <li class="list-group-item">
            <b>Employee ID : {{item.employeeId}}</b>
            <br>
            <b>Employee Name : {{item.firstName}} {{item.lastName}}</b>
            <br>
            <div>
                <Button class="btn btn-info m-3" (click)="deleteEmployee(item)">Delete</Button>
                <Button class="btn btn-info m-3" (click)="view(item)">View</Button>
            </div>
        </li>

    </ul>
</div>